<!doctype html>
{% load static %}
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About ELOrienteering</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
  {% include "header_search.html" %}
  <h1 class="m-4 text-center">About ELOrienteering</h1>
  <h2 class="m-4">Objective</h2>
  <p class="m-2 text-start">This website ranks orienteering runners based on <a href="https://helga-o.com/webres/">Helga Webres</a> results. The ranking is <b>NOT</b> used for country selection. It's designed to motivate runners to perform their best and track their progress. In Belgium, you also have the <a href="https://hoekx.be/natcrit/">challenge de régularité/regelmatigheidcriterium</a>.</p>
  <h2 class="m-4">What</h2>
  <p class="m-2 text-start">This is an open-source project. If you want to <a href="https://github.com/TGLuis/elorienteering/issues">contribute, report issues, suggest ideas</a>, or see how the website was built, check it out on <a href="https://github.com/TGLuis/elorienteering">GitHub</a>.</p>
  <h2 class="m-4">Disclaimer</h2>
  <p class="m-2 text-start">This website is under construction. The layout and data may evolve in the coming weeks, meaning your current Elo rating may change as ongoing adjustments are made.</p>
  <h2 class="m-4">How does it work ?</h2>
  <h6 class="m-3">Initial Results (Races 1-3)</h6>
  <p class="m-2 text-start">Your Elo is evaluated based on runners you finish near in the same course.</p>
  <h6 class="m-3">First 10 Results</h6>
  <p class="m-2 text-start">You will not influence the Elo of runners with more than 10 results.</p>
  <h6 class="m-3">Races 3-30</h6>
  <p class="m-2 text-start">Gain/loss is increased by a factor to allow faster progression and stabilization.</p>
  <h6 class="m-3">Elo Adjustments</h6>
  <ul>
      <li class="m-2 text-start">Less than 5 participants in ranking: changes are divided by 2</li>
      <li class="m-2 text-start">More than 20 participants: changes are factored logarithmically (40 participants = x2, 80 participants = x3, etc.)</li>
  </ul>
  <h6 class="m-3">Rating Calculation</h6>
  <p class="m-2 text-start">Every runner confronts the participants close by (maximum 10 places) in the same ranking/course, gaining or losing points based on their respective Elo.</p>
  <h6 class="m-3">Special Cases</h6>
  <ul>
      <li class="m-2 text-start">NCL: results in a loss of 0.5% of your Elo</li>
      <li class="m-2 text-start">DSQ: results in a loss of 1% of your Elo</li>
      <li class="m-2 text-start">No races for a full year: lose 1.5% of your Elo (not shown in history as it's not linked to a specific course/date) and your account becomes "inactive," disappearing from the home page ranking.</li>
  </ul>
  <h2 class="m-4">Limitations</h2>
  <h6 class="m-3">Course Type Difference</h6>
  <p class="m-2 text-start">There's no distinction between sprint, long distance, middle distance, urban, or forest courses. Your Elo is only representative of the course types you participate in. For example, if you only participate in sprint events, your Elo won't be representative of your forest competition level.</p>
  <h6 class="m-3">Category Changes</h6>
  <p class="m-2 text-start">When moving to a more difficult category, Elo tends to decrease. This is commonly seen with young runners entering the Elite category—it reflects increased course difficulty, not decreased performance. Conversely, when moving to an older category, Elo may increase as you compete against older runners, potentially giving you an advantage.</p>
  <h6 class="m-3">Elo Inertia</h6>
  <p class="m-2 text-start">Elo represents a global trend. Single exceptional (or poor) performances have limited impact. If your true level change drastically (due to injury, training abroad, etc.), multiple Helga results are needed to realign your Elo. This stability has both advantages and disadvantages.</p>

  <h2 class="m-4">Restless ranking</h2>
  <p class="m-2 text-start">This ranking classes people based on the number of "OK" results they have on Helga (NCL, DSQ, DNS,... are not counted), either in total or in a certain year.</p>


  {% include "footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>