<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About ELOrienteering</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
  {% include "header_classic.html" %}
  <h1 class="text-center">About ELOrienteering</h1>
  <h2 class="m-4">Objective</h2>
  <p class="m-2 text-justify">This website aims to do a ranking of the orienteering runners from the <a href="https://helga-o.com/webres/">Helga Webres</a> results. This ranking is <b>NOT</b> used to for any country selection. This is just a ranking to motivate runners to give their best and to see themselves progress.</p>
  <h2 class="m-4">What</h2>
  <p class="m-2 text-justify">This is an opensource project ! This means that if you want to contribute, <a href="https://github.com/TGLuis/elorienteering/issues">signal an issue or suggest an idea</a>, or just see how this website was made check it on <a href="https://github.com/TGLuis/elorienteering">Github</a>.</p>
  <h2 class="m-4">Disclaimer</h2>
  <p class="m-2 text-justify">This website is still under construction the layout and <b>the data</b> might evolve during the coming weeks. This means that if you are seeing an elo for your name right now, in some days or weeks it might change because some tweaking are still ongoing.</p>


  {% include "footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>