<footer class="mt-auto">
    <div class="container">
        <div class="row align-items-center">
            <div class="col mb-2">
                <h5>Contribute</h5>
                <ul class="list-inline social-icons"><!-- TODO add link and icon to github -->
                    <li class="list-inline-item">Github</li>
                </ul>
            </div>
            <div class="col mb-2 text-center">
                <p class="text-body-secondary">ELOrienteering</p>
                <p>&copy; 2025 NTM. All rights reserved.</p>
            </div>
            <div class="col mb-2 text-end">
                <h5>Powered by</h5>
                <ul class="list-inline social-icons"><!-- TODO add link and icon to helga -->
                    <li class="list-inline-item">Helga</li>
                </ul>
            </div>
        </div>
    </div>
</footer>