<footer class="mt-4">
    <div class="container">
        {% load static %}
        <div class="row align-items-center">
            <div class="col mb-2">
                <h5>Contribute</h5>
                <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="https://github.com/TGLuis/elorienteering"><img src="{% static 'github-mark.png' %}" height="40px" alt="Github"/></a></li>
                </ul>
            </div>
            <div class="col mb-2 text-center">
                <p class="text-body-secondary">ELOrienteering</p>
                <p>&copy; 2025 NTM. All rights reserved.</p>
            </div>
            <div class="col mb-2 text-end">
                <h5>Powered by</h5>
                <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="https://helga-o.com/index.php/"><img src="{% static 'Helga.png' %}" height="40px" alt="Helga"/></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>